streamlit==1.45.1
pandas==2.2.3
requests==2.32.3
beautifulsoup4==4.13.4
playwright==1.52.0
python-dotenv==1.1.0
sqlalchemy==2.0.41
fastapi==0.110.0
uvicorn==0.29.0
plotly==5.22.0
git+https://github.com/CIME-Software/perplexipy.git
